<%= form_for([@story, @story.pages.build]) do |f| %>
	<!-- Edit -->
	<% if @page.page_num %>
		<% page_num = @page.page_num  %> 
	
	<!-- Next Page -->
	<% elsif @story.pages.length > 0 %>
		<% page_num = @story.pages.order(:page_num).last.page_num+1 %>
		
	<!-- First Page -->
	<% else %>
		<% page_num = 1 %>
	<% end %>
	<h2><%= @story.title %>, page <%= page_num %></h2>
	<p>
		<%= f.label "Page number : " + page_num.to_s %>
		<%= f.hidden_field :page_num, :value => page_num %>
	</p>
	<p>
		<%= f.label :image %><br>
		<%= f.file_field :image%>
	</p>
	<p>
		<%= f.label :text %><br>
		<%= f.text_area :text%>
	</p>
	<%= f.submit %>
<% end %>
