<h1>
	<%= @game.title %>
</h1>
<table>
	<tr>
		<td><strong>Platform</strong></td>
		<td>
			<%= @game.platform %>
		</td>	
	</tr>
	<tr>
		<td><strong>Genre</strong></td>
		<td>
			<%= @game.genre %>
		</td>	
	</tr>
</table>
<br>
<h2> Description </h2>
<p>
	<%= @game.description %>
</p>

<a href="<%= @game.link %>">Click here to download</a> 
